@use '../helpers' as *;

.overused-words {
  border-bottom: 0.015rem solid $border;
  border-top: 0.015rem solid $border;
  border-bottom-left-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  @include respond-to('very-large') {
    border: none;
    border-radius: 0;
  }

  // Custom checkbox
  .check-mark {
    background-color: $background;
    border: 0.1rem solid $text;
    height: 1.5rem;
    left: 0.3rem;
    top: 0;
    width: 1.5rem;
    @include center(false, true, translate(0, -50%));
    // Create the checkmark/indicator (hidden when not checked)
    &:after {
      border: solid $highlight;
      border-width: 0 0.2rem 0.2rem 0;
      content: '';
      display: none;
      height: 0.8rem;
      width: 0.4rem;
      @include center(ture, true, translate(-50%, -50%) rotate(45deg));
    }
  }
  // Hide the browser's default checkbox
  input {
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 85%;
    z-index: 10;

    &:checked ~ .check-mark:after {
      display: block;
    }
  }
  // Remove overused word from the list when clicking on the remove button. Remove button is dash ( - )
  .remove {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 17%;
    &:after {
      border: solid $text;
      border-width: 0.2rem 0 0 0;
      content: '';
      position: absolute;
      width: 25%;
    }
    &:hover {
      box-shadow: -0.1rem -0.1rem 0.2rem 0 $highlight inset, 0.1rem 0.1rem 0.2rem 0 $highlight inset;
    }
  }
}
