@use '../helpers' as *;

.repeated-words {
  border-bottom: 0.015rem solid $border;
  border-top: 0.015rem solid $border;
  border-bottom-right-radius: 0.7rem;
  border-top-right-radius: 0.7rem;

  @include respond-to('very-large') {
    border-radius: 0;
    border: none;
  }

  li {
    margin: 0 auto;
    max-width: 80%;
    white-space: nowrap;
  }

  .active {
    box-shadow: -0.1rem -0.1rem 0.2rem 0 $highlight inset, 0.1rem 0.1rem 0.2rem 0 $highlight inset;
  }
}
