@use '../helpers' as *;

.string-data {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border-top: 0.015rem solid $border;

  @include respond-to('very-large') {
    border-bottom: 0.015rem solid $border;
  }
}
